.app {
  padding: 30px;
  background-color: white;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

#submit {
  text-align: center;
  justify-content: center;
}